@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EDEDEF;
  color: #21212d;
  font-family: var(--nunito), var(--kanit);

  font-size: 14px;
  font-weight: 300;
}

[lang|="th"] {
  font-family: var(--kanit), sans-serif;
}

.bg-default-100 {
    background-color: #EDEDEF;
    border: none;
    box-shadow: none;
}

/* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
} */
