@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ededef;
  color: #21212d;
  font-family: var(--nunito), var(--kanit);
  font-size: 14px;
  font-weight: 300;
}

[lang|="th"] {
  font-family: var(--kanit), sans-serif;
}

.bg-default-100 {
  background-color: #ededef;
  border: none;
  box-shadow: none;
}

svg.lucide {
  width: 18px;
  height: 18px;
  color: #21212d;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
